body {
    max-width: 600px;
    margin: 0 auto;
    background-color: #008000;
}

#image_name_container {
    overflow: auto;
    min-width: 600px;
    position: relative;
}

#image_name_container img {
    float: right;
    width: 50%;
}

#image_name_container h2 {
    position: absolute;
    width: 50%;
    top: 50%;
    margin: 0;
}